<header id="header">
  <h1 id="logo"><a href="index.html">data<span>Haskell</span></a></h1>
  <nav id="nav">
    <!-- Header -->
    <ul>
      <li class="current"><a href="https://datahaskell.org/index.html">Home</a></li>
      <li class=""><a href="https://datahaskell.org/blog.html">Blog</a></li>
      <li class=""><a href="https://datahaskell.org/docs">Docs</a></li>
      <li class=""><a href="https://www.datahaskell.org/docs/community/roadmap.html">Roadmap</a></li>
      <li class=""><a href="https://github.com/DataHaskell">Github</a></li>
      <li><a href="https://discord.gg/8u8SCWfrNC" class="button special">Discord</a></li>
    </ul>
    <!-- -->
  </nav>
</header>
